n8n.txt
{
  "nodes": [
    {
      "id": "1",
      "name": "Leer CSV",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [300, 300],
      "parameters": {
        "path": "/mnt/data/your-inventory-file.csv",
        "options": {}
      }
    },
    {
      "id": "2",
      "name": "Convertir CSV a JSON",
      "type": "n8n-nodes-base.csvToJson",
      "typeVersion": 1,
      "position": [500, 300],
      "parameters": {
        "options": {
          "delimiter": ",",
          "skipEmptyLines": true
        }
      }
    },
    {
      "id": "3",
      "name": "Calcular Inventario",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [700, 300],
      "parameters": {
        "keepOnlySet": false,
        "values": [
          {
            "name": "inventario_calculado",
            "value": "={{ $json['inventario_inicial'] + $json['entradas'] - $json['salidas'] }}"
          },
          {
            "name": "estado",
            "value": "={{ $json['inventario_calculado'] < $json['umbral_minimo'] ? 'Alerta' : 'OK' }}"
          }
        ]
      }
    },
    {
      "id": "4",
      "name": "Guardar en Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [900, 300],
      "parameters": {
        "operation": "append",
        "sheetId": "your-google-sheet-id",
        "range": "Inventario!A:D",
        "valueInputMode": "RAW",
        "fields": [
          "producto",
          "inventario_calculado",
          "estado"
        ]
      },
      "credentials": {
        "googleApi": "your-google-credentials-id"
      }
    }
  ],
  "connections": {
    "Leer CSV": {
      "main": [
        [
          {
            "node": "Convertir CSV a JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convertir CSV a JSON": {
      "main": [
        [
          {
            "node": "Calcular Inventario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Inventario": {
      "main": [
        [
          {
            "node": "Guardar en Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
